.myclass{
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin: 5px;
    background-color: burlywood;
    text-align: center;
}
.content{
    color: red;
    font-style: italic;
}
.newclass{
    background-color: green;
}
